@page
@model IndexModel
@{
    ViewData["Title"] = "JSON Data";
}

<h1>JSON Data</h1>

<ul id="jsonDataList"></ul>

@section Scripts {
    <script>
        // Função para carregar dados JSON na página
        function loadJSONData() {
            fetch('http://127.0.0.1:5000/resposta1')
                .then(response => response.json())
                .then(dataList => {
                    // Limpa a lista antes de adicionar novos itens
                    document.getElementById('jsonDataList').innerHTML = '';

                    // Itera sobre a lista de objetos JSON
                    dataList.forEach(data => {
                        // Cria um item de lista para cada objeto
                        var li = document.createElement('li');
                        li.textContent = 'Title: ' + data.Title + '\nClassification: ' + data.Classification + '\nContent: ' + data.Content + '\nURL: ' + data.URL;
                        document.getElementById('jsonDataList').appendChild(li);
                    });
                })
                .catch(error => console.error('Erro ao carregar os dados:', error));
        }

        // Chama a função para carregar os dados quando a página carrega
        document.addEventListener('DOMContentLoaded', loadJSONData);
    </script>




}
